.page-layout{
  margin: 5%;
}
.page-title{
  text-align: center;
}
#end-page{
  background-color: #5a5858;
  color: #ffffff;
}

.body{
  position: relative;
}


.img-contacter{
  width: 100%;

}

#product-project-index{

}
#project{

}
.bottom-footer{
  text-align: center;
}



/*parallex effect*/


.parallex{
  height: 100px;
  width: 100%;
  background-attachment: fixed;
}



/* NAVBAR */
#navbar {

  position: fixed;
  top: -300px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 999999;
}

f{
  margin-top: 1px;
}
bottom-footer{
  height: 1px;
}

/*video*/
.video{
}
/* titre societe sur la video*/
.Conttext {
  position: absolute;
  top:50% ;
  left:50%;
  text-align: center;
  font-family: Georgia;
  z-index: 10;

}