.page-layout{
  margin: 5%;
}
.page-title{
  text-align: center;
}
#end-page{
  background-color: #5a5858;
  color: #ffffff;
}

.body{
  position: relative;
}


.img-contacter{
  width: 100%;

}

#product-project-index{

}
#project{

}
.bottom-footer{
  text-align: center;
}



/*parallex effect*/


.parallex{
  height: 100px;
  width: 100%;
  background-attachment: fixed;
}



/* NAVBAR */
#navbar {

  position: fixed;
  top: -300px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 999999;
}

f{
  margin-top: 1px;
}
bottom-footer{
  height: 1px;
}

/*.navbar-inverse .navbar-nav>li>a {*/
/*  color: #2d2d2d;*/
/*  margin: 0 5px;*/
/*  -webkit-transition: all 0.5s ease 0s;*/
/*  -moz-transition: all 0.5s ease 0s;*/
/*  -o-transition: all 0.5s ease 0s;*/
/*  transition: all 0.5s ease 0s;*/
/*}*/

/*.navbar-collapse, .collapse .in:after, .main-nav-list:after, .navbar-collapse:after, .sticky-wrapper :after{*/
/*  z-index: 99999;*/
/*  background-color: transparent;*/
/*}*/

/*.main-nav-list {*/
/*  font-family: 'Open Sans Condensed', sans-serif;*/
/*  font-weight: 700;*/
/*  font-size: 18px;*/
/*  text-transform: uppercase;*/
/*}*/

/*.navbar-brand {*/
/*  display: inline-block;*/
/*  vertical-align: middle;*/
/*  width: 160px;*/
/*  height: 50px;*/
/*  margin-left: 20px;*/
/*  margin-right: 30px;*/
/*  max-width: 160px;*/
/*}*/
/*.navbar-toggle {*/
/*  border: transparent;*/
/*}*/


/*.navbar-inverse .navbar-collapse,*/
/*.navbar-inverse .navbar-form {*/
/*  max-height: 200px;	!* Scrollable Menu *!*/
/*  border-color: #fff;*/
/*}*/

/*.navbar-wrapper {*/
/*  background-color: transparent;*/
/*  padding: 10px 0;*/
/*  margin-bottom: 0;*/
/*  text-transform: uppercase;*/
/*  z-index: 1000;*/
/*  width: 100%;*/
/*  top: 0;*/
/*  position: fixed;*/
/*  opacity: 0;*/
/*  -webkit-transition: all 0.5s ease-in-out 0s;*/
/*  -moz-transition: all 0.5s ease-in-out 0s;*/
/*  -o-transition: all 0.5s ease-in-out 0s;*/
/*  transition: all 0.5s ease-in-out 0s;*/
/*  z-index: 0 !important;*/
/*}*/

/*.scroll-fixed-navbar{*/
/*  background-color: #fff;*/
/*  opacity: 0.97;*/
/*  padding: 20px 0;*/
/*  box-shadow: 0px 0px 5px #999;*/
/*  border-bottom: 1px solid #f0f0f0;*/
/*  -webkit-transition: all 0.5s ease-in-out 0s;*/
/*  -moz-transition: all 0.5s ease-in-out 0s;*/
/*  -o-transition: all 0.5s ease-in-out 0s;*/
/*  transition: all 0.5s ease-in-out 0s;*/
/*  z-index: 99999 !important;*/
/*}*/


/*.navbar-inverse .navbar-nav > .active > a {*/
/*  background-image: none;*/
/*  background-color: #fff;*/
/*  box-shadow: none;*/
/*}*/

/*.navbar-inverse .navbar-brand,*/
/*.navbar-inverse .navbar-nav > li > a {*/
/*  text-shadow: none;*/
/*}*/

/*.navbar-inverse {*/
/*  background-color: transparent;*/
/*}*/

/*.navbar-inverse .navbar-nav > .active > a,*/
/*.navbar-inverse .navbar-nav > .active > a:hover,*/
/*.navbar-inverse .navbar-nav > .active > a:focus {*/
/*  background-color: transparent;*/
/*}*/


/*.dropdown-menu { background-color: #FFFFFF}*/
/*.navbar-inverse { background-image: none; }*/
/*.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }*/
/*.navbar-inverse .navbar-brand { color: #FFFFFF}*/
/*.navbar-inverse .navbar-brand:hover { color: #FFFFFF}*/
/*.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}*/
/*.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #FFFFFF}*/
/*.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #fff}*/
/*.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #fff}*/
